In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv('homeprices.csv')
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
data.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [6]:
med=data['bedrooms'].median()
med

4.0

In [8]:
df=data.fillna(med)

In [9]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [10]:
model=LinearRegression()

In [11]:
x=df.drop('price',axis=1)
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [15]:
y=df['price']
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [16]:
model.fit(x,y)

LinearRegression()

In [18]:
model.intercept_,model.coef_

(221323.00186540408, array([  112.06244194, 23388.88007794, -3231.71790863]))

In [19]:
model.predict([[3000,3,40]])

array([498408.25158031])